<% @body_class="about-page" %>

 <div class="jumbotron about text-center pull-right" style="margin-top:50px">
        <h1>About <font color="orange">mucklucks</font></h1>
        <p class="lead">In 2013 a 20-something Spanish major left her job to embark
            on a lifelong dream with her husband.  They bought a one-way ticket to
            Thailand, with absolutely nothing planned.  Their best travel reccomendations
            came from other travelers, hosts, and globe-trotter friends back home.  This site
            was created from a passion for travel and for making travel convenient,
            well-informed, and fun.</p>
</div>

</body>
