<% @body_class="about-page" %>

 <div class="jumbotron about text-center pull-right" style="margin-top:100px">
        <h1>About <font color="orange">mucklucks</font></h1>
        <p class="lead">Cet quam. Fusce dapibermentum massa justo sit amet.</p>
</div>

</body>
