<% @body_class="contact-page" %>
<% page_title "Contact" %>

  <div class="jumbotron contact text-center" style="margin-top:100px">
        <h1>Contact <span style="color: orange">mucklucks</span></h1>
        <p class="lead">We would love to hear from you if you have any constructive
            criticism or words of praise!  We will also read your not-so-constructive
            criticism...put we prefer not to.  The easiest way to get in touch is
            to reach out to the creater, Laura, on twitter @lkbhas.</p>
  </div>
