<% @body_class="contact-page" %>

  <div class="jumbotron contact text-center" style="margin-top:100px">
        <h1>Contact mucklucks</h1>
        <p class="lead">Cet quam. Fusce dapibermentum massa justo sit amet.</p>
  </div>

</body>
