<% @body_class="contact-page" %>

  <div class="jumbotron contact text-center" style="margin-top:100px">
        <h1>Contact <font color="orange">mucklucks</font></h1>
        <p class="lead">Cet quam. Fusce dapibermentum massa justo sit amet.</p>
  </div>

</body>
