<% @body_class="private-page" %>
<% page_title "Private Map" %>

<div class="text-center">
  <h1>Welcome to the Private Map, <%= "#{current_user.first_name}" %>
    <% if current_user.avatar.present? %>
      <%= image_tag current_user.avatar, class: "img-responsive img-thumbnail", size: "120x80" %>
    <% end %>
  </h1>
</div>

<div class="select">
  <h1>Please Select a Country</h1>
</div>

<div id="vmap"></div>

  <!-- <h2>This private map is to store your personal travel information.
  Start by clicking on a country.
  <br>You'll notice the below information adjust to your selection.
  <br>This country will now stay orange unless
  it is clicked again, so you can visually see the countries you've been to.</h2> -->
  <!--
  <h2>Add a link, picture, or text and click "save", building your travel profile for that country.
  <br>You also have the option to share any information on the public map
  for other <font color="orange">mucklucks</font> users to see!</h2></center> -->

  <div class="ajax-button">
    <button id="ajax-get">SAVE</button>
  </div>

  <div class="row info">
    <div class="col-xs-6 col-lg-4">
      <h1>Blog</h1><p>Add a link to your blog (or blogs)of <span class="country_name">COUNTRY</span>.</p>
      <p>Share on Public Map?</p>
    </div>
    <div class="col-xs-6 col-lg-4">
      <h1>Advice</h1><p>What advice would you give to other travelers in <span class="country_name">COUNTRY</span>?</p>
      <p>Share on Public Map?</p>
    </div>
    <div class="col-xs-6 col-lg-4">
      <h1>Photos</h1><p>Add photos or a link to your photos in <span class="country_name">COUNTRY</span>.</p>
      <p>Share on Public Map?</p>
    </div>
  </div>
</div>
