<% @body_class="private-page" %>
<% page_title "Private Map" %>
<form id="form_id" action="/visits" method="post">

<input type="hidden" name="visit[country_code]" value="" class="visit_form_country_code">
<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

<div class="text-center">
  <h1>Welcome to the Private Map, <%= "#{current_user.first_name}" %>
    <% if current_user.avatar.present? %>
      <%= image_tag current_user.avatar, class: "img-responsive img-thumbnail", size: "120x80" %>
    <% end %>
  </h1>
</div>

<div class="select">
  <h1>Please Select a Country</h1>
</div>

<div id="vmap"></div>

  <div class="row info">
    <div class="col-xs-6 col-lg-4">
      <h1>Blog</h1><p>  Add a link to a blog of your time in <span class="country_name">COUNTRY</span>.</p>
      <div>
        <input type="text_field" maxlength="250" name="blog">
      </div>
    </div>
    <div class="col-xs-6 col-lg-4">
      <h1>Advice</h1><p>What advice would you give to other travelers in <span class="country_name">COUNTRY</span>?</p>
      <div>
        <textarea name="comment" rows="8" cols="40"></textarea>
      </div>
    </div>
    <div class="col-xs-6 col-lg-4">
      <h1>Photos</h1><p>Add photos from your time in <span class="country_name">COUNTRY</span>.</p>
      <div>
        <input type="file" name="photo" class="photo-input">
        <!-- <input type="text_field" name="photo"> -->
      </div>
    </div>
  </div>

  <div class="ajax-button save-fields">
    <button id="ajax-get"><input type="submit"></button>
  </div>

  <div class="row-list">
    <div>
      <h2 class="center">You have been to:</h2>
      <% current_user.visits.each do |visit| %>
        <h4><%= link_to visit.country.region, visit_path(visit) %></h4>
      <% end %>
    </div>
  </div>

</div>

</form>
