<% @body_class="countries_index-page" %>



<div class= "container countries_page col-sm-offset-1">
  <center><%= page_title "Countries" do %>
    <% end %></center>

  <table class="countries table table-hover">
    <thead>
      <tr>
        <th>Region</th>
        <th>Code</th>
      </tr>
    </thead>
    <tbody>
      <% @countries.each do |country| %>
      <tr>
        <td><%= country.region %></td>
        <td><%= country.code %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
