.authentication-page {
  background-image: image-url("Thailand_Boats.jpeg");
  background-repeat: repeat;
  background-size: 100%;
  background-color: white;
}

div.container.signin.well {
  margin-top: 60px;
  background-color: white;
  border-style: solid;
  border-color: orange;
  border-width: 5px;
}

.label {
  display: inline-block;
}
