.contact-page {
  background-image: image-url("Bangladesh_Men.jpeg");
  background-repeat: repeat;
  background-size: 100%;
  background-color: white;
}

div.jumbotron.contact.text-center {
background-color: white;
width: 40%;
}
