.countries_index-page {
  background-image: image-url("Jordan.jpeg");
  background-repeat: repeat;
  background-size: 100%;
  background-color: brown;
  background-attachment: fixed;
  color: white;
}

.container.countries_page {
  width: 50%;
}
