div.jumbotron.public.text-center {
  background-color: white;
  border-style: solid;
  border-color: orange;
  border-width: 5px;
}

div.jumbotron.private.text-center {
  background-color: white;
  border-style: solid;
  border-color: orange;
  border-width: 5px;
}

#vmap {
  width: 100%;
  height: 600px;
  margin: auto;
  margin-bottom: 60px;
}

#vmap2 {
  width: 100%;
  height: 600px;
  margin: auto;
  margin-bottom: 60px;
}

span{
  color: red;
}

rect {
  fill: red !important;
}

.jumbotron.public.bottom {
  margin-bottom: 100px;
}

.row.bottom {
  margin-bottom: 55px;
}

.select h1 {
  text-align: center;
  color: orange;
}
