#vmap {
  width: 100%;
  height: 600px;
  margin: auto;
  margin-bottom: 60px;
}

#vmap2 {
  width: 100%;
  height: 600px;
  margin: auto;
  margin-bottom: 60px;
}

div.jumbotron.public {
  background-color: white;
  border-style: solid;
  border-color: orange;
  border-width: 5px;
  text-align: center;
}

.row.info {
  background-color: white;
  border: 5px solid orange;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-right: 15px;
  margin-left: 15px;
}

.row-list {
  background-color: white;
  border: 5px solid orange;
  margin-bottom: 100px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 15px;
  margin-left: 15px;
}

.center {
  text-align: center;
}

.row.info p {
font-size: 21px;
font-weight: 200;
}

.jumbotron.public.bottom {
  margin-bottom: 100px;
}

div.jumbotron.private:first-of-type {
  margin-left: 1.6%;
}

body > div.row.info {
  margin-left: 20;
}

span{
  color: red;
}

.select h1 {
  text-align: center;
  color: orange;
}

.save-fields {
  text-align: center;
}

.ajax-button {
  text-align: center;
  margin-bottom: 10px;
}

#ajax-get {
  background: orange;
  font-weight: bold;
  border-radius: 10px;
  vertical-align: middle;
  font-size: 17px;
  padding: 12px 24px;
}

#ajax-get > input[type="submit"] {
  background: orange;
  border: none;
}

#form_id > div.ajax-button.save-fields {
  margin-top: 10px;
}

.country-show-title {
  text-align: center;
}

.photo-input {
  margin-left: 30%;
  margin-bottom: 4%;
}
