.about-page {
  background-image: image-url("Everest.jpeg");
  background-repeat: repeat;
  background-size: 100%;
  background-color: white;
}

div.jumbotron.about.text-center {
  background-color: white;
  width: 40%;
}
