div.jumbotron.public.text-center {
  background-color: white;
  border-style: solid;
  border-color: orange;
  border-width: 5px;
}

rect {
  fill: red !important;
}

#vmap.public_vmap {
  width: 1200px;
  height: 800px;
  margin: auto;
}
