.registrations-page {
  background-image: image-url("file2.jpeg");
  background-repeat: repeat;
  background-size: 100%;
  background-color: white;
}

div.container.signin.well {
  background-color: white;
  border-style: solid;
  border-color: orange;
  border-width: 5px;
}
