.users_index-page {
  background-image: image-url("Salinas.jpeg");
  background-repeat: repeat;
  background-size: 100%;
  background-color: brown;
  background-attachment: fixed;
  margin-bottom: 100px;
}

div.container.users_page {
  margin-top: 100px;
  a.name_link {color: white;}
  color: white;
}

.users-form-page {
  background-image: image-url("BangladeshWoman.jpeg");
  background-repeat: repeat;
  background-size: 100%;
  background-color: white;
}

div.jumbotron.show.text-center {
  background-color: white;
  border-style: solid;
  border-color: orange;
  border-width: 5px;
  margin-top: 75px;
}

.users-show-page {
  background-image: image-url("BangladeshWoman.jpeg");
  background-repeat: repeat;
  background-size: 100%;
  background-color: white;
}
