.users_index-page {
  background-image: image-url("Salinas.jpeg");
  background-repeat: repeat;
  background-size: 100%;
  background-color: brown;
}

div.container.users_page {
  a.name_link {color: white;}
  color: white;
}
