.visit-page {
  background-image: image-url("Myanmar.JPG");
  background-repeat: repeat;
  background-size: 100%;
  background-color: white;
}

.country-show-title {
  margin-top: 4%;
  margin-bottom: 2%;
}

.blog-show {
  background: white;
  border: 5px solid orange;
  display: inline-block;
  width: 35%;
  min-height: 15%;
  margin-bottom: 3%;
  margin-right: 2%;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  clear: both;
}

.advice-show {
  background: white;
  border: 5px solid orange;
  display: inline-block;
  width: 55%;
  min-height: 27%;
  margin-bottom: 3%;
  margin-right: 3%;
  margin-left: 2%;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  clear: both;
}

.photos-show {
  background: white;
  border: 5px solid orange;
  width: 80%;
  margin: auto;
  min-height: 25%;
  margin-bottom: 70px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  clear: both;
}

.photo-show {
  max-width: 300px;
  max-height: 300px;
}

.advice-show h3, .blog-show h3, .photos-show h3 {
  text-align: center;
}

.row.info {
  background-color: white;
  border: 5px solid orange;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  width: 100%;
  margin: auto;
  margin-bottom: 75px;
}

.submit-field {
  background: orange;
  font-weight: bold;
  border-radius: 10px;
  vertical-align: middle;
  font-size: 14px;
  padding: 3px 5px;
  margin: auto;
  margin-top: 10px;
  border: 1px solid white;
}

.field, .submit-field-area {
  float: right;
  display: block;
  clear: both;
}

.add-fields {
  float: right;
  width: 50%;
}

.advice-field {
  resize: none;
}
