<!DOCTYPE html>
<html>

<head>
  <title>PersonalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body>
<%= yield %>
  <div class="navbar">
    <div class="container">
      Personal Project
    </div>
  </div>

  <div class="container">
  </div>
    <footer>
      <div class="container">
        LinkedIn Blog Twitter
      </div>
    </footer>
</body>

</html>
